#mainCarousel > .carousel-tag{
    left: 16px;
}

#pix8list-toggle{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 4px;
    border-radius: 3px;
    z-index: 11;
}

#pix8-title{
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #cccccc;
    margin-left: 22px;
    padding: 2px;
}

#pix8list{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
}

#pix8list-filters{
    margin-left: 24px;
    color: white;
}

#pix8list-filters > .catalog-filter{
    display: inline-block;
    margin: 1px 3px;
    cursor: pointer;
}

#pix8list-filters > .catalog-filter.active{
    text-decoration: underline;
}

#pix8list-items{
    height: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: hidden;
}

#pix8list-items > div{
    padding-left: 2px;
    cursor: pointer;
    margin: 0 2px;
    color: white;
    white-space: nowrap;
}

#pix8list-items > div > a{
  color: white;
  white-space: nowrap;
}