#pic{
    background-color: transparent;
    max-height: 100vh;
}

body{
    background-color: rgb(82, 82, 82);;
}

#pix8-title{
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#pic-tag{
    cursor: text;
}